<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @user.name %></h4>
    <p>
     Thank you for submitting your donation request. Please wait while we review your request. 
    </p>
    From,<br>
    <strong>Your friends at Donation Nepal.</strong>
  </body>
</html>